<a href="https://colab.research.google.com/github/fereshtehdehkhoda/Example-22-Homeowner-and-vehicles-and-income-more-than-average/blob/main/Homeowner_and_vehicles_and_income_more_than_average.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homeowner and vehicles and income more than average

In [ ]:
#فرض کنید تیم بازاریابی و فروش شرکت،
# افراد با درآمد بالای سطح متوسط، صاحب خانه و دارای حداقل یک اتومبیل را مشتریان با پتانسیل بالا برای ارائه یک محصول جدید درنظر گرفته است
# چند درصد مشتریان شرکت در این گروه جای می‌گیرند؟

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv('sample_data.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                500 non-null    int64
 1   sex               500 non-null    object
 2   is_employed       435 non-null    object
 3   income            493 non-null    float64
 4   marital_status    500 non-null    object
 5   health_insurance  500 non-null    bool
 6   housing_type      466 non-null    object
 7   recent_move       466 non-null    object
 8   num_vehicles      466 non-null    float64
 9   age               500 non-null    float64
 10  state_of_res      500 non-null    object
dtypes: bool(1), float64(3), int64(1), object(6)
memory usage: 39.7+ KB

In [ ]:
(np.sum((data['num_vehicles']>=1) &
       ((data['housing_type']=='Homeowner with mortgage/loan') | (data['housing_type']=='Homeowner free and clear')) &
(data['income']>np.mean(data['income'])))/np.sum((data['num_vehicles'].notnull()) & (data['housing_type'].notnull()) & (data['income'].notnull())) )* 100

27.173913043478258